[submodule "themes/osuny"]
	path = themes/osuny
	url = https://github.com/osunyorg/theme.git
[submodule "themes/noesya-hugo-theme"]
	path = themes/noesya-hugo-theme
	url = git@github.com:osunyorg/noesya-hugo-theme.git
