.footer-contents
    .block-sound
        background: white
        bottom: 0
        left: 0
        margin: 0
        position: fixed
        right: 0
        z-index: 70
        @include media-breakpoint-up(desktop)
            border-radius: 4px
            bottom: $grid-gutter
            left: 50%
            margin-left: -400px
            width: 800px
        .container
            margin: 0
            padding-left: $grid-gutter
            padding-right: $grid-gutter
            width: 100%
            @include media-breakpoint-down(desktop)
                padding-bottom: $spacing-1
                padding-top: $spacing-1
            figure
                line-height: 100%
                flex-direction: row-reverse !important
                audio
                    &::-webkit-media-controls-panel
                        background-color: white
                figcaption
                    text-align: center
                    p
                        @include meta
                        color: black
                @include media-breakpoint-up(desktop)
                    display: flex
                    flex-direction: row
                    align-items: center
                    figcaption
                        text-wrap: nowrap
                        padding-left: $spacing-3
                        padding-right: $spacing-3
footer#document-footer
    @include media-breakpoint-down(desktop)
        padding-bottom: $spacing-6
